* {
    background-color: bisque;
    text-decoration: none;
    color: black;
}

h1 {
    font-family: Georgia, Verdana;
    font-weight: 800;
    text-align: left;
    margin: auto;
}

ul {
    list-style: none;
}

img {
    height: 400px;
    width:auto;
    margin: 10px;
}

button {
    float:right;
}

.title {
    font-family: Verdana, Georgia;
    font-size: 30px;
    text-align: left;
    margin: auto;
}

.home li, ul a{
    width: 300px;
    font-family: Georgia, Verdana;
    text-decoration: none;
    font-size:larger;
}

.home li:hover {
    background-color: rgb(231, 193, 147);
    list-style-type:circle;
}

.recipe-card {
    margin: 0 auto;
    color: black;
    text-align: center;
    border: 3px solid rgb(195, 147, 89);
    width: 700px;
}

.recipe-content {
    text-align: left;
    margin: 20px;
}


#ingredients ul {
    margin: 0;
    list-style: none;
}
